<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ClientId" value="{4b9ed8fb-6470-4e25-a9e6-52fde00f1c5f}"/>
	<add key="AuthServer" value="account-d.docusign.com"/>
	<add key="ImpersonatedUserID" value="{IMPERSONATED_USER_ID}"/>
	<add key="PrivateKeyFile" value="..\..\..\private.key"/>
</appSettings>
</configuration>